@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    text-decoration: none;
    button{
        cursor: pointer;
    }
}

.conteiner{
    max-width: 1440px;  
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}
.hero{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px;
    padding-top: 100px;
}

.hero__txt {
    padding-top: 180px;
  h4{
    font-family: Lilita One;
font-size: 64px;
font-weight:600;
line-height: 73.15px;
text-align: left;
max-width:197px;
width: 100%;
height: 67px;
top: 473px;
left: 115px;
gap: 0px;
opacity: 0px;

  }
  h3{
    font-family: Lalezar;
font-size: 96px;
font-weight: 600;
line-height: 150.43px;
text-align: left;
max-width:900px;
width: 100%;
height: 107px;
top: 540px;
left: 115px;
gap: 0px;
opacity: 0px;
color: #F42D2D;

  }
}

.hero__img {
  img{
    max-width:518px;
    width: 100%;
    height: 544px;
    top: 191px;
    left: 892px;
    gap: 0px;
    opacity: 0px;

  }
}


#btn-1{
  width: 183px;
height: 60px;
gap: 0px;
font-weight: 600;
border-radius: 20px;
opacity: 0px;
border: none;
background: #FF0000;
color: #fff;
position: relative;
top: 70px;
}

@media (max-width: 700px) {
.hero__txt{
    padding-top: 20px;

    h3{
        font-family: Lalezar;
    font-size: 66px;
    font-weight: 400;
    line-height: 150.43px;
    text-align: left;
    max-width:900px;
    width: 100%;
    height: 107px;
    top: 540px;
    left: 115px;
    gap: 0px;
    opacity: 0px;
    color: #F42D2D;
    
      }
}
.hero__img{
    padding-top: 70px;
}


}
@media (max-width: 500px) {

#btn-1{
 margin-top: 150px;
}


}